<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<title></title>
<link rel="stylesheet" type="text/css" href="../../css/fullscreen.css" />
<style type="text/css">
<!--

body.center {
	display: table;
	text-align: center;
}

-->
</style>
<script src="../../js/Function.prototype.bind.js" type="text/javascript"></script>
<script src="../../js/require.js" type="text/javascript"></script>
<script src="../loadTheme.js" type="text/javascript"></script>
<script src="RainbowDrawableDemo.js" type="text/javascript"></script>
</head>
<body class="fullscreen center">
	<div id="content" class="vertCenter">
		<object id="drawableCanvas" style="margin-left: auto; margin-right: auto;" width="240" height="180" ></object>
	</div>
</body>
</html>
