<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<title></title>
<link rel="stylesheet" type="text/css" href="../../css/fullscreen.css" />
<style type="text/css">
<!--

body.center {
	display: table;
	text-align: center;
}

/* http://www.jakpsatweb.cz/css/css-vertical-center-solution.html */
.vertCenter {
	display: table-cell;
	vertical-align: middle;
}

-->
</style>
</head>
<body class="fullscreen center">
	<div id="content" class="vertCenter">
		<object data="../../icons/High_voltage_warning.svg"
			type="image/svg+xml" height="150" width="150"></object>
	</div>
</body>
</html>
