<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlecode.electroshocktherapy"
    android:versionCode="10"
    android:versionName="1.0.0.10" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />
	<!--
	Don't require android.hardware.touchscreen, for compatibility with devices
	that have mouse or remote control input, and no touchscreen.

	Also, don't require android.hardware.faketouch, since that would rule out
	Google TV as discussed here:

		https://developers.google.com/tv/android/docs/gtv_android_features#Touchscreen

	Additionally, faketouch has been reported to trigger market filtering issues:

		http://code.google.com/p/android/issues/detail?id=23984
	-->
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.googlecode.electroshocktherapy.ShockTherapyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
