<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>Shock Therapy</title>
<link rel="shortcut icon" href="../icons/High_voltage_warning_48.ico" />
<link rel="apple-touch-icon" href="../icons/High_voltage_warning_128.png" />
<link rel="stylesheet" type="text/css" href="../css/fullscreen.css" />
<style type="text/css">
<!--

.black {
	background-color: black;
}

-->
</style>
<script type="text/javascript">"use strict";</script>
<script src="../js/Function.prototype.bind.js" type="text/javascript"></script>
<script src="../js/require.js" type="text/javascript"></script>
<script src="../js/ShockTherapy.js" type="text/javascript"></script>
<script src="loadTheme.js" type="text/javascript"></script>
<script src="main.js" type="text/javascript"></script>
</head>
<body>
<div id="curtain" class="fullscreen black" style="z-index: 5"></div>
<div id="actionBar" class="header pageHeader" style="z-index: -1">
	<a id="actionBarUpButton" href="#" class="vertCenter headerIconBox"
		style="cursor: default" onclick="return false;">
		<img id="actionBarUpButtonIcon" src="../icons/Up_button_48.png"
			class="headerUpButton" alt="Up button"
			style="visibility: hidden"></img>
		<img src="../icons/High_voltage_warning_48.png"
			class="headerIcon" alt="icon" ></img>
	</a>
	<div class="vertCenter">
		<div id="actionBarTitle" class="headerTitle"></div>
	</div>
	<div id="actionBarButtonPanel" class="vertCenter">
		<a id="actionBarOverflowButton" class="overflowButton">
		<img src="../icons/Overflow_button_32.png"
			class="overflowButtonIcon" alt="icon"></img>
		</a>
	</div>
</div>
<a id="mainMenuButton" class="mainMenuButton"
	style="visibility: hidden; z-index: 1; cursor: pointer">
	<img src="../icons/Overflow_button_32.png"
		class="overflowButtonIcon" alt="Main Menu"></img>
</a>
<div id="content">
</div>
</body>
</html>
