<div class="content">
	<button id="themeButton" class="listViewButton">
	<div class="vertCenter wide">
	<span class="option_title">
	Theme</span><br/>
	<span class="option_description">
	User interface theme
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="soundButton" class="listViewButton">
	<div class="vertCenter wide"><span class="option_title">
	Sound Effects</span><br/>
	<span class="option_description">
	Enable sound effects
	</span>
	</div>
	<div class="vertCenter">
	<object id="soundCheckbox" class="checkboxCanvas" ></object>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="soundVolume" class="listViewButton">
	<div class="vertCenter wide">
	<span class="option_title">
	Sound Volume</span><br/>
	<span class="option_description">
	Sound volume level
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="vibratorButton" class="listViewButton">
	<div class="vertCenter wide">
	<span class="option_title">
	Vibrator</span><br/>
	<span class="option_description">
	Enable vibrator
	</span>
	</div>
	<div class="vertCenter">
	<object id="vibratorCheckbox" class="checkboxCanvas"></object>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="vibratorIntensity" class="listViewButton">
	<div class="vertCenter">
	<span class="option_title">
	Vibrator Intensity</span><br/>
	<span class="option_description">
	Vibrator intensity level
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="sparkColor" class="listViewButton">
	<div class="vertCenter">
	<span class="option_title">
	Color</span><br/>
	<span class="option_description">
	Spark main color
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="sparkHueVariance" class="listViewButton">
	<div class="vertCenter">
	<span class="option_title">
	Hue Variance</span><br/>
	<span class="option_description">
	Spark hue variance
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="sparkBrightnessVariance" class="listViewButton">
	<div class="vertCenter">
	<span class="option_title">
	Brightness Variance</span><br/>
	<span class="option_description">
	Spark brightness variance
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="sparkThickness" class="listViewButton">
	<div class="vertCenter">
	<span class="option_title">
	Thickness</span><br/>
	<span class="option_description">
	Spark thickness
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="sparkDensity" class="listViewButton">
	<div class="vertCenter">
	<span class="option_title">
	Density</span><br/>
	<span class="option_description">
	Spark density
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="sparkDuration" class="listViewButton">
	<div class="vertCenter">
	<span class="option_title">
	Duration</span><br/>
	<span class="option_description">
	Spark duration
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="exportOptions" class="listViewButton">
	<div class="vertCenter">
	<span class="option_title">
	Export options</span><br/>
	<span class="option_description">
	Save options to a JSON file
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="importOptionsButton" class="listViewButton">
	<div class="vertCenter">
	<span class="option_title">
	Import options</span><br/>
	<span class="option_description">
	Load options from a JSON file
	</span>
	</div>
	</button>
	<hr class="listViewBorder"/>
	<button id="resetOptionsButton" class="listViewButton">
	<div class="vertCenter">
	<span class="option_title">
	Reset Options</span><br/>
	<span class="option_description">
	Reset options to defaults
	</span>
	</div>
	</button>
</div>
